<%- include('header', {type: 'signin'}) %>
<div class="container">
  <form class="form create" method="post">
    <div>
      <label> 用户名：</label>
      <input type="text" placeholder="用户名" name="name">
    </div>
    <div>
      <label> 密码：</label>
      <input type="password" placeholder="密码" name="password">
    </div>
    <div class="submit">登录</div>
  </form>
</div>
<script>
  $('.submit').click(function() {
    if ($('input[name=name]').val().trim() == '' || $('input[name=password]').val().trim() == '') {
      fade('请输入用户名或密码')
    } else {
      
    }
  })


</script>


<% include footer %>
