*
    margin 0
    padding 0
.movie
    width 100%
    &-head 
        width 100%
        height 68px
        line-height 68px
        background-color #1e2025
        color #ffffff
        padding 0 10px
        box-sizing: border-box
        display: flex
        .iconfont
            width 16px
        .title
            flex: 1
