*
    margin 0
    padding 0
body
    font-size: 14px
    color: #777
#top-rated-wrap
    width 100%
    height 176px
    display block
    .top-rated
        position absolute
.weui-tabbar
    position relative
    top: 550px