.ele-tab {
  display: flex;
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.ele-tab:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #07111b;
  transform: scaleY(0.5);
  transform-origin: 0 100%;
}
